@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 10.11.2015
    placeholder
    site
    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
    text-align: center;
}
:-moz-placeholder {
    color: #000;
    text-align: center;
}
.placeholder {
    color: #000;
    text-align: center;
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    background: url("../img/bg-body.jpg") no-repeat center;
    direction: rtl;
    z-index: 1;
}
.site__header{
    overflow: hidden;
    margin-bottom: 15px;
    padding-top: 15px;
}
.site__header-layout{
    margin: 0 auto;
    padding: 40px 0;
    font-size: 20px;
    background: url("../img/bg-header-top.png") no-repeat 50% 0/100% auto,
    url("../img/bg-header-bottom.png") no-repeat 50% 100%/100% auto;
    text-align: center;
}
.site__header h1{
    margin-bottom: 9px;
    font-size: 64px;
}
.site__header span{
    display: block;
    margin-bottom: 12px;
}
.site__header-eng{
    direction: ltr;
}
.site__content {
    position: relative;
    width: 320px;
    margin: 0 auto;
    overflow: hidden;
    z-index: 2;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}
/* --------------- /site --------------- */

/* -------------- content -------------- */
.content{
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
}
/* ------------- /content -------------- */

/* --------------- promo --------------- */
.promo{
    margin-bottom: 20px;
}
.promo span{
    margin-right: 5px;
    padding-right: 15px;
    background: url("../img/icons-point-red.png") no-repeat 100% 60%;
}
.promo_main{
    margin-bottom: 20px;
}
.promo_main dt{
    font-size: 40px;
    line-height: 45px;
}
.promo_main dt span{
    padding-right: 20px;
    background: url("../img/icons-point-gray.png") no-repeat 100% 60%;
}
.promo_main .promo__small span{
    font-size: 26px;
    background: url("../img/icons-point-red.png") no-repeat 100% 60%;
}
/* --------------- promo --------------- */

/* --------- social-facebook ----------- */
.social-facebook{
    text-align: center;
}
.social-facebook a{
    display: inline-block;
    padding-left: 35px;
    font-size: 22px;
    line-height: 25px;
    padding-top: 3px;
    background: url("../img/icons-facebook.png") no-repeat 0 0;
    color: #000;
}
.social-facebook a:hover{
    text-decoration: underline;
}
/* --------- /social-facebook ---------- */

/* --------------- site__content__feedback --------------- */
.site__content__feedback{
    width: 100%;
    height: 142px;
    padding: 0 0 1px 0;
    margin-top: 232px;
}
/* --------------- /site__content__feedback --------------- */

/* --------------- callback --------------- */
.callback{
    width: 285px;
    margin: 0 auto;
}
.callback-phone{
    position: relative;
    background: url("../img/phonebg.png") no-repeat top;
    color: #fff;
    font-size: 26px;
    padding: 27px 33px 65px 33px;
    text-align: center;
    background-size: 100% 100%;
    margin-bottom: 55px;
}
.callback-phone .callback-work{
    font-size: 22px;
    display: block;
    margin-top: 9px;
}
.callback-phone .callback-work > span{
    font-size: 20px;
    display: block;
}
.callback-contact{
    background-color: #bf595d;
    position: relative;
    opacity: 0.7;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 10px 15px;
    padding-top: 6px;
    margin-bottom: 87px;
    padding-bottom: 2px;

}
.callback-contact span{
    display: block;
    font-size: 20px;
    font-weight: normal;
    margin-top: 10px;
}
.callback-contact:before{
    content: url('../img/contactbg.png');
    position: absolute;
    top: -72px;
    left: 50%;
    margin-left: -143px;
}
.callback-contact strong{
    display: block;
    color: #000000;
    margin-top: 16px;
    font-size: 28px;
}
.callback .feedback-form{
    position: relative;
    margin: 0 auto;
    max-width: 252px;
    margin-top: 19px;
}
.callback .feedback-name{
    width: 252px;
    height: 45px;
    margin-bottom: 15px;
    font-size: 17px;
    padding: 0 10px;
    text-align: center;
}
.feedback-submit{
    position: absolute;
    width: 248px;
    font-size: 20px;
    height: 44px;
    background-color: #bf583f;
    bottom: -55px;
    color: #fff;
    border: none;
    left: 50%;
    margin-left: -127px;
    box-shadow: 3px 3px 0 #8f4346;
}
.feedback-submit ::-webkit-input-placeholder{
    font-size: 28px;
}
.feedback-submit :-moz-placeholder{
    font-size: 28px;
}
.feedback-submit .placeholder{
    font-size: 28px;
}
/* --------------- /callback --------------- */

/* --------------- logo --------------- */
.logo {
    position: absolute;
    background: url("../img/thanks-border_after.png") no-repeat center;
    background-size: contain;
    top: 0;
    bottom: 0;
    left: 0;
    margin-right: -5px;
    right: 50%;
}
.site__content__feedback:after {
    content: '';
    position: absolute;
    background: url("../img/thanks-border_before.png") no-repeat center;
    background-size: contain;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin-left: -5px;
}
/* --------------- /logo --------------- */

@media (min-width: 768px) {
    /* --------------- feedback --------------- */
    .site__content__feedback{
        height: 249px;
    }
    .feedback-title{
        background-size: cover;
        line-height: 55px;
        padding-top: 67px;
        font-size: 51px;
        width: 500px;
    }
    .site__content__feedback:before{
        background-size: cover;
        margin-right: 260px;
    }
    .site__content__feedback:after{
        background-size: cover;
        margin-left: 260px;
    }
    /* --------------- /feedback --------------- */

    /* --------------- site --------------- */
    .site__content {
        width: 768px;
    }
    .site__header{
        margin-bottom: 20px;
        padding-top: 30px;
    }
    .site__header-layout{
        padding: 57px 0 62px;
        font-size: 33px;
        background-size: 390px 45px;
    }
    .site__header h1{
        font-size: 74px;
    }
    .site__header-eng{
        font-size: 34px;
    }
    /* --------------- /site --------------- */

    /* -------------- content -------------- */
    .content{
        float: right;
        width: 470px;
    }
    /* ------------- /content -------------- */

    /* -------------- callback ------------- */
    .callback {
        float: left;
    }
    /* ------------ /callback -------------- */
}

@media (min-width: 1024px) {
    /* --------------- site --------------- */
    .site__content {
        width: 1085px;
    }
    /* -------------- /site --------------- */

    /* -------------- content -------------- */
    .content{
        width: 790px;
    }
    /* ------------- /content -------------- */

    .site__content__feedback{
        height: 345px;
    }
    .feedback-title{
        width: 700px;
        line-height: 63px;
        padding-top: 115px;
        font-size: 51px;
    }
}