@charset "utf-8";
/* --------------- Style to null --------------- */
*{-moz-box-sizing:border-box;box-sizing:border-box;}html,body,div,span,h1,h2,h3,h4,h5,h6,p,em,img,strong,sub,sup,b,u,i,dl,dt,dd,ol,ul,li,fieldset,form,label,table,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,a,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;vertical-align:baseline;background:transparent;font-size:100%;margin:0;padding:0;}a{background:transparent;}table{border-collapse:collapse;border-spacing:0;}td,td img{vertical-align:top;}input,select,button,textarea{font-size:12px;font-family:Arial, Helvetica, sans-serif;margin:0;}input[type="text"],input[type="password"],textarea,input[type="email"],input[type="phone"],input[type="number"]{font:12px Arial, Helvetica, sans-serif;padding:0;}input[type="checkbox"]{vertical-align:bottom;}input[type="radio"]{vertical-align:text-bottom;}sub{vertical-align:sub;font-size:smaller;}sup{vertical-align:super;font-size:smaller;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}ul,ol{list-style:none;}html{overflow-y:scroll;overflow-x:auto;}html,body{height:100%;}body{line-height:1;color:#000;text-align:left;z-index:1;position:relative;}input [type='text']{padding:0;}textarea{resize:none;overflow:auto;}label,input[type="button"],input[type="submit"],button{cursor:pointer;}input[type="button"],input[type="reset"],input[type="submit"],button,input[type="text"],input[type="password"],textarea,input[type="email"],input[type="tel"],input[type="phone"],input[type="number"]{-webkit-appearance:none;}a,a:visited,a:hover,a:focus,a:active{text-decoration:none;}input[type="submit"]::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0;}input:invalid{outline:none;-moz-box-shadow:none;border:none;}::-ms-clear{display:none;}input,textarea,input[type="search"]:focus,:focus{outline:none;}
/* --------------- Style to null --------------- */

/*
    main styles
    version: 10.11.2015

    placeholder

    site

    logo
*/

/* --------------- placeholder --------------- */
::-webkit-input-placeholder {
    color: #000;
}
:-moz-placeholder {
    color: #000;
}
.placeholder {
    color: #000;
}
/* --------------- /placeholder --------------- */

/* --------------- site --------------- */
.site {
    min-height: 100%;
    min-width: 320px;
    overflow: hidden;
    position: relative;
    background: url("../img/bg-body.jpg") no-repeat center;
    direction: rtl;
    z-index: 1;
}
.site__header{
    width: 320px;
    margin: 0 auto;
    padding: 65px 0 62px
    font-size: 33px;
    background: url("../img/bg-header-top.png") no-repeat 50% 0/100% auto,
    url("../img/bg-header-bottom.png") no-repeat 50% 100%/100% auto;
    text-align: center;
}
.site__header h1{
    margin-bottom: 9px;
    font-size: 70px;
}
.site__header span{
    display: block;
    margin-bottom: 12px;
}
.site__header-eng{
    direction: ltr;
    font-size: 32px;
}
.site__content {
    position: relative;
    z-index: 2;
}
.site__footer {
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
}
/* --------------- /site --------------- */

/* --------------- callback --------------- */
.callback{
    width: 285px;
}
.callback-phone{
    position: relative;
    background: url("../img/phonebg.png") no-repeat top;
    color: #fff;
    font-size: 26px;
    padding: 27px 33px 46px 33px;
    text-align: center;
    background-size: 100% 100%;
    margin-bottom: 76px;
}
.callback-phone .callback-work{
    font-size: 22px;
    display: block;
}
.callback-phone .callback-work > span{
    font-size: 20px;
    display: block;
}
.callback-contact{
    background-color: #bf595d;
    position: relative;
    height: 400px;
    opacity: 0.8;
    font-size: 23px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    padding: 10px 15px;
}
.callback-contact:before{
    content: url('../img/contactbg.png');
    position: absolute;
    top: -72px;
    left: 50%;
    margin-left: -143px;
}
.callback-contact strong{
    display: block;
    color: #000000;
}
.callback .feedback-form{
    margin:0 auto;
    max-width:252px;
}
/* --------------- /callback --------------- */


@media (min-width: 768px) {
    /* --------------- site --------------- */
    .site__header{
        width: 740px;
        font-size: 33px;
        background-size: 390px 45px;
    }
    .site__header h1{
        font-size: 64px;
    }
    .site__header-eng{
        font-size: 34px;
    }
    /* --------------- site --------------- */
}

@media (min-width: 1024px) {

}